.mainlayout {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainbutton {
  width: 50vw;
  height: 5em;
  font-size: 150%;
}
.mainbuttoncontainer {
  padding: 1em;
}
.mainicon {
  padding: 0.5em;
}
.mat-icon {
  width: 3em;
  height: 3em;
}