<div class="mainlayout" layout="column">
    <div flex class="mainbuttoncontainer">
        <button class="mainbutton" mat-raised-button (click)="newLabTest()" color="primary">
          <mat-icon class="mainicon" svgIcon="analyze"></mat-icon> Новый анализ
        </button>
      </div>
      <div flex class="mainbuttoncontainer">
    <button class="mainbutton" mat-raised-button (click)="labTestHistory()" color="primary">
      <mat-icon class="mainicon" svgIcon="history"></mat-icon> История
    </button>
  </div>
</div>