<mat-toolbar color="primary" class="history-header">
  <span>История</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <mat-form-field class="header-filter">
    <input type="text" placeholder="Фильтр" matInput [formControl]="filterControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredPatientFilterOptions | async" [value]="option">
        {{option.description()}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>

<mat-card class="history-card">
  <mat-card-content>
    <form class="example-form" [formGroup]="addCommentForm" (ngSubmit)="addComment(formDirective)" #formDirective="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID пациента" formControlName="patientId" name="username" type="number">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Комментарий" formControlName="comment" name="comment" matTextareaAutosize matAutosizeMinRows="3"
          matAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="!addCommentForm.valid">Добавить</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let entry of filteredPatientHistory" class="history-card">
  <mat-card-header>
    <mat-card-title>{{entry.patientFullName}} ({{entry.patientId}})</mat-card-title>
    <mat-card-subtitle>{{entry.type}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style='white-space: pre-wrap;'>
      {{entry.text}}
    </div>
  </mat-card-content>

</mat-card>

<button mat-fab color="primary" class="new-lab-test" matTooltip="Новый анализ" [matTooltipClass]="'tooltip'" (click)="newLabTest()">
    <mat-icon svgIcon="analyze"></mat-icon>
</button>